$mainColor: #fffff;

body {
	background-color: $mainColor;
	padding: 15px;
	margin: 0px;
	columns: 300px 2;
	
	.box { 
		display: block;
		
		.circle {
			float: left;
		}
	}
	
	a {
		color: black;
	}
}